*{
	font-family:monospace;
	font-size:13px;
	padding:0px;
	margin:0px;
}
html{
	height:100%;
}
body{
	background:white;
	padding:17px;
	border:1px dotted brown;
	height:100%;
}	
a{
	color: blue;
	text-decoration: none;
}
input{
	border: 0px;
	border-bottom: 1px dotted grey;
}
input[type="button"]{}
input[type="file"]{}
table{
	border-collapse: collapse;
	empty-cells: show;
}
table td,th{
	vertical-align: top;
}
hr{
	margin-bottom: 3px;
	margin-top: 3px;
	border-bottom: 1px dotted green;
	color: blue;
	height: 0px;
}



.editor{
	border:1px dotted blue;
	width:100%;
	height:640px;
}
.editor2{
	border:1px dotted green;
	width:100%;
	height:320px;
}




input.line{
	width:320px;
}
input.name{
	width:50%;
}
input.phone{
	width:15%;
}
input.keywords{
	width:150px;
}
input.nbr{
	text-align: right;
}
input.mny{
	text-align: right;
	width: 50px;
}

table td.lbl{
	font-weight: bold;
	text-align: right;
}


table.tbl{
	width: 100%;
}
table.tbl tr{
	cursor:pointer;
	border-bottom: 1px dotted grey;
}
table.tbl tr.evn{
	cursor:pointer;
	border-bottom: 1px dotted grey;
}
table.tbl tr.odd{
	cursor:pointer;
	background-color: #ffffff;
	border-bottom: 1px dotted grey;
}
table.tbl th {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 0px;
	text-align: left;
	font-weight: bold;
}
table.tbl td {
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-left: 1px dotted grey;
}
table.tbl td.last {
	border-right: 1px dotted grey;
}
table.tbl td.nbr {
	text-align: right;
}
table.tbl tr.evn {
	background: #f3f3f3;
}









div.icons {
	margin-top: 3px;
	margin-bottom: 1px;
}
div.icons a {
	border: 1px solid #aeeffa;
	padding: 17px;
	margin: 7px;
	vertical-align: middle;
}
div.icons a.prsd {
	border: #eaeaaa;
	background: #eaeaea;
}
table.files {
	margin-top: 3px;
	width: 50%;
	white-space: pre;
	border-top: 1px solid #aaeaea;
	border-bottom: 1px solid #aaeaea;
	background: #fafafa;
	background: #ffffff;
}
table.files th {
	background: #eaedea;
	border-bottom: 1px solid #aaeaea;
	text-align:left;
	padding-left: 10px;
}
table.files tr.evn {
	background: #eaedea
}
table.files td {
	border-bottom: 1px dotted #ffffff;
	border-bottom: 1px dotted #aaeaef;
	vertical-align: bottom;
	padding-bottom: 1px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 11px;
}
table.files td.first {
	border-left: 0px;
	border-right: 1px dotted #aaeaef;
}
table.files td.icns {
	width: 16px;
	padding: 3px;
}
table.files td.icns img {
	vertical-align: bottom;
}
table.files td.name {
}
table.files td.date {
	width: 77px;
	text-align: right;
	padding-right: 13px;
}
table.files td.size {
	width: 53px;
	text-align: right;
	padding-right: 0px;
}
table.files td.last {
	border-left: 1px dotted #aeeaae;
}
.bold{
	border-top:1px solid red;
}
.bolder{
	border:1px solid red;
}