*{padding:0;margin:0;border:0;font-family:inherit;font-size:inherit;font-weight:inherit}
html{font-family:monospace;height:100%}
body{height:100%;background-color:white}
table{border-collapse:collapse;empty-cells:show}
table td{vertical-align:top}
table th{vertical-align:bottom}
a,a:visited{text-decoration:none}
ul{list-style:none}
